<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table border="0" cellpadding="5" cellspacing="0" style="margin-right:5px; text-align:center; vertical-align:text-top; border-style: solid none none solid; border-width: 1px; border-color: #000000;">
    <tbody>
         <tr>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; background-color: #1292DE; font-weight:bold;" colspan="45" >BÁO CÁO KPI DỊCH VỤ [TÊN DỊCH VỤ]</td>
        </tr>
        <tr style="background-color:#83CBF5;">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="3">STT</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="3">Ngày báo cáo</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="24">Thuê bao</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="6">Tần suất sử dụng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="7">Doanh thu</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="5">Đánh Giá</td>
        </tr>
        <tr style="background-color:#83CBF5;">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="9">Đăng ký</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="9">Hủy</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Sử dụng dịch vụ trong ngày</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Sử dụng dịch vụ lũy kế từ đầu tháng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  colspan="4">Gia hạn</td>
            
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Không sử dụng]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Rất ít]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Ít]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Vừa]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Nhiều]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">[Rất nhiều]</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu từ đăng ký mới</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu từ gia hạn</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu cước nội dung</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu cước SMS</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu cước IVR</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Doanh thu khác</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Tổng doanh thu</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Tỷ lệ % TB sử dụng dịch vụ trong ngày</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Tỷ lệ % TB sử dụng dịch vụ lũy kế từ đầu tháng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Tăng trưởng DT so với cùng kỳ (ngày trước/7 ngày trước/tháng trước)</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">% Hoàn thành kế hoạch tháng (DT cộng dồn các ngày/chỉ tiêu DT tháng)</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"  rowspan="2">Nguyên nhân tăng/giảm</td>
        </tr>
       <tr style="background-color:#83CBF5;">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng Đăng ký gói cước hiện tại</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh SMS</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh USSD</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh IVR</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh Web</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh Wap</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Đăng ký mới gói cước thành công qua kênh App</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng Hủy thành công (Hủy gia hạn+tự hủy)</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tự hủy</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy do gia hạn</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh SMS</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh USSD</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh IVR</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh Web</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh Wap</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Hủy gói cước thành công qua kênh App</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng số TB Sử dụng dịch vụ trong ngày</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng số TB Sử dụng dịch vụ lũy kế từ đầu tháng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng TB gia hạn (thành công+ không thành công)</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng TB Gia hạn thành công</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tổng TB Gia hạn không thành công</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >Tỷ lệ % gia hạn thành công (Gia hạn thành công/Tổng SL gia hạn)</td>
            
        </tr>
        <tr>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" >&nbsp;</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
