<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table border="0" cellpadding="5" cellspacing="0" style="margin-right: 5px; text-align: center; vertical-align: text-top; border-style: solid none none solid; border-width: 1px; border-color: #000000;">
        <tbody>
            <tr style="background-color: #DADADA; font-weight:bold;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="2">STT</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="2">Ngày báo cáo</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" colspan="5">Sản lượng chi tiết</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" colspan="5">Sản lượng tổng</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" colspan="5">Tần suất sử dụng</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" colspan="2">Đánh giá</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="2">Ghi chú</td>
            </tr>
           <tr style="background-color:#DADADA;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Cú pháp</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Số lượng thuê bao nhắn tin đúng cú pháp</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Sản lượng MO đúng cú pháp</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Sản lượng MO đúng cú pháp &amp; trừ tiền thành công</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Doanh thu (VNĐ)</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng sản lượng MO</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng sản lượng MO đúng cú pháp</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng số lượng thuê bao nhắn tin đúng cú pháp</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Trung bình số lượng MO đúng cú pháp/thuê bao</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng doanh thu (VNĐ)</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Số lượng thuê bao nhắn 1 MO đúng cú pháp lũy kế từ khi khai trương DV</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Số lượng thuê bao nhắn 2 - 3 MO đúng cú pháp lũy kế từ khi khai trương DV</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Số lượng thuê bao nhắn 4 - 5 MO đúng cú pháp lũy kế từ khi khai trương DV</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Số lượng thuê bao nhắn 5 - 10 MO đúng cú pháp lũy kế từ khi khai trương DV</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"> Số lượng thuê bao nhắn > 10 MO đúng cú pháp lũy kế từ khi khai trương DV</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tăng trưởng số lượng thuê bao sử dụng dịch vụ so với ngày trước (%)</td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tăng trưởng DT so với ngày trước (%)</td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="6"></td>
            </tr>
           <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
            </tr>
           <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
            </tr>
           <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
            </tr>
           <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
                <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
